.container-narrow {
    margin: 0 auto;
    max-width: 1000px;
}

.banner {
    margin-top: 10px;
}

.banner > #logo {
    font-size: 92px;
    line-height: 1;
}

.banner > ol {
    margin-top: -5px;
}

hr {
  border-top: 2px solid rgb(51, 51, 51);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#comic-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer {
    margin-top: 50px;
}
