---
layout: universal
---

    <div class="container-narrow">
      <div class="banner">
        <span id="logo"><a href="/">founder.fr</a></span>
	<ol>
	  <li>to sink below the surface of the water. <em>The ship struck a reef and foundered.</em></li>
	  <li>to cave in; sink. <em>The platform swayed and then foundered.</em></li>
	  <li>to fail utterly; collapse. <em>a marriage that soon foundered.</em></li>
	  <li>to stumble, especially to stumble and go lame. Used of horses.</li>
	  <li>to become ill from overeating. Used of livestock.</li>
	  <li>to be afflicted with laminitis. Used of horses.</li>
	</p>
      </div>

      <hr>
      
      {{ content }}
